

<main>
    <section class="main-content">
        <div class="main-content__background__image">
            <div class="main-content__background__image__text">
                <h1 id="main-content__background__image__text__title"> Os melhores pacotes <br> você encontra aqui!</h1> <br>
                    <p id="main-content__background__image__text__paragrafo"> Para voce que busca praticidade, conforto e preço <br>
                    justo na hora de viajar.Somos mais que uma <br> agência de viagens; 
                    somos seu parceiro na realização dos <br> seus sonhos de explorar o mundo. 
                    Com destinos exóticos,<br> pacotes exclusivos e atendimento personalizado, 
                    garantimos <br> experiências únicas e momentos memoráveis para cada tipo de viajante </p>
            </div>

            <button class="main-content__button"> Adquira aqui! </button>
    
            <div class="main-content__assessment">
                <div class="main-content__assessment__nota">
                    <h2  style="font-size:35px">4.6</h2>
                        <p  style="font-size:16px">Nota na <br> AppStore</p>
                </div>
                <div class="main-content__assessment__passagens__vendidas">
                     <h2  style="font-size:35px">200k+</h2>
                        <p  style="font-size:16px">Passagens <br> Vendidas!</p>
                </div>     
            </div> 
        </div>
    </section>

    <section class="carousel">
        <app-carousel-main-component></app-carousel-main-component>
    </section>

    <section class="pacotes">
        <app-pacotes-main-components></app-pacotes-main-components>
    </section>
</main>