<section class="main-content__pacotes">
    <h1 class="main-content__pacotes__title">Conheça alguns de nossos pacotes:</h1>
    <div class="main-content__pacotes__columns">
      <ul class="main-content__pacotes__price">
        <li class="main-content__pacotes__header">Basico</li>
        <li class="main-content__pacotes__grey">R$ 1.500,00</li>
        <li>Ida e Volta </li>
        <li>1 destino </li>
        <li>Classe Econômica</li>
        <li>Atendimento Comum</li>
        <li>Data Pré-Definido</li>
        <li class="main-content__pacotes__grey"><a href="#" class="main-content__pacotes__button">Comprar</a></li>
      </ul>
    </div>

    <div class="main-content__pacotes__columns">
      <ul class="main-content__pacotes__price">
        <li class="main-content__pacotes__header">Standard</li>
        <li class="main-content__pacotes__grey">R$3.500,00 </li>
        <li>Ida e Volta</li>
        <li>3 Destinos</li>
        <li>Classe Econômica</li>
        <li>Atendimento Agilizado</li>
        <li>Data Pré-Definido</li>
        <li class="main-content__pacotes__grey"><a href="#" class="main-content__pacotes__button">Comprar</a></li>
      </ul>
    </div>

    <div class="main-content__pacotes__columns">
      <ul class="main-content__pacotes__price">
        <li class="main-content__pacotes__header">Premium</li>
        <li class="main-content__pacotes__grey">R$6.500,00 </li>
        <li>Ida e Volta</li>
        <li>5 Destinos</li>
        <li>Classe Executiva</li>
        <li>Atendimento Vip</li>
        <li>Escolha de Data</li>
        <li class="main-content__pacotes__grey"><a href="#" class="main-content__pacotes__button">Comprar</a></li>
      </ul>
    </div>
  </section>
