
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
    
</body>
</html>
<footer>
    <section class="footer-content">
        <div id="footer-content__column" class="footer-content__empresa">
            <h4>Empresa</h4>
           <ul>
             <li><a href="#">About Us</a></li>
             <li><a href="#">Our Services</a></li>
             <li><a href="#">Privacy Policy</a></li>
           </ul>
        </div>
        <div id="footer-content__column" class="footer-content__suporte">
            <h4>Peça Ajuda</h4>
           <ul>
             <li><a href="#">FAQ</a></li>
             <li><a href="#">Shipping</a></li>
             <li><a href="#">Opções de Pagamento</a></li>
           </ul>
        </div>
        <div id="footer-content__column" class="footer-content__produtos">
            <h4>Produtos</h4>
           <ul>
             <li><a href="#">Passagens</a></li>
             <li><a href="#">Pacotes</a></li>
             <li><a href="#">Alimentos</a></li>
             <li><a href="#">Travesseiro</a></li>
           </ul>
        </div>
        <div id="footer-content__column" class="footer-content__redes__sociais">
            <h4>Siga-nos</h4>
           <div class="footer-content__redes__sociais__links">
             <a href="#"><i class="fab fa-facebook-f"></i></a>
             <a href="#"><i class="fab fa-twitter"></i></a>
             <a href="#"><i class="fab fa-instagram"></i></a>
             <a href="#"><i class="fab fa-linkedin-in"></i></a>
           </div>
        </div>
    </section>
</footer>
