<div class="main-content__login">
    <form method="post" action="">
          <h1 style ='text-align: center;'>Login</h1>
          <div id="main-content__cadastro__formulario">
           <p>
                <label for="main-content__login__formulario__email"> Seu e-mail:</label>
                <input id="main-content__login__formulario__email" nome="main-content__login__formulario__email"  required="required" type="text" placeholder="ex. contato@gmail.com">
            </p>

            <p>
                <label for="main-content__login__senha">Sua senha:</label>
                <input type="text" name="main-content__login__senha" id="main-content__login__senha" required="required" placeholder="ex.12345">
            </p>

            <p> 
                <input type="checkbox" name="main-content__login__manter__logado" id="main-content__login__manter__logado" value=""> 
                <label for="main-content__login__manter__logado">Manter-me logado</label>
              </p>
               
              <p> 
                <button id="main-content__login__button"> Login </button>
              </p>
               
              <p class="main-content__login__link">
                Ainda não tem conta?
                <a href="#paracadastro">Cadastre-se</a>
              </p>
          </div> 
      </form>       
</div>
