/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.05;
  font-family: 'Poppins', sans-serif;
}
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}